.text-right {
  margin-top: -10px;
  margin-bottom: -13px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-sp-tuong-tu {
  border: 1px green solid;
}

.box-sp-moi {
  border: 1px green solid;
}

.box-doi-tac {
  border: 1px green solid;
}

.box-doi-tac img {
  width: 100%;
}

.box-thu-vien {
  border: 1px green solid;
  height: 350px;
}

.box-thu-vien .swiper-container-thu-vien {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.box-thu-vien .swiper-container-thu-vien img {
  max-width: 80%;
  height: auto;
}

.box-thu-vien .swiper-button-prev-thuvien {
  position: absolute;
  top: -2%;
  left: 47%;
  font-size: 30px;
}

.box-thu-vien .swiper-button-next-thuvien {
  position: absolute;
  bottom: -2%;
  left: 47%;
  font-size: 30px;
}

.box-thiet-ke {
  border: 1px green solid;
  height: 480px;
  width: 80%;
}

.box-thiet-ke .swiper-container-thiet-ke {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.box-thiet-ke .swiper-container-thiet-ke img {
  max-width: 100%;
  height: auto;
}

.box-thiet-ke .swiper-button-prev-thietke {
  position: absolute;
  top: -2%;
  left: 49%;
  font-size: 30px;
}

.box-thiet-ke .swiper-button-next-thietke {
  position: absolute;
  bottom: -2%;
  left: 49%;
  font-size: 30px;
}

.tensanphammau {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: green;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding: inherit;
}

.box-tintuc {
  border: 1px green solid;
  height: 350px;
}

.box-tintuc .swiper-container-tintuc {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.box-tintuc .swiper-container-tintuc img {
  max-width: 80%;
  height: auto;
}

.box-tintuc .swiper-button-prev-tintuc {
  position: absolute;
  top: -2%;
  left: 47%;
  font-size: 30px;
}

.box-tintuc .swiper-button-next-tintuc {
  position: absolute;
  bottom: -2%;
  left: 47%;
  font-size: 30px;
}

.tintuc-content {
  font-size: 16px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.tintuc-content a {
  color: grey;
}

.footer {
  background-color: #e8e8e8;
  margin-top: 30px;
  height: auto;
}

.footer .phancach {
  background-color: green;
  height: 100%;
  width: 2px;
  margin-right: 23px;
}

.box-sanphammoi {
  border: 1px green solid;
}

.box-sanphammoi .swiper-container-sanphammoi {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.box-sanphammoi .swiper-container-sanphammoi img {
  max-width: 100%;
  height: auto;
}

.box-sanphammoi .swiper-button-prev-sanphammoi {
  position: absolute;
  top: 39%;
  left: 0%;
  font-size: 30px;
  z-index: 2;
}

.box-sanphammoi .swiper-button-next-sanphammoi {
  position: absolute;
  top: 39%;
  right: 0%;
  font-size: 30px;
  z-index: 2;
}

.box-tuhuy {
  border: 1px green solid;
}

.box-tuhuy .swiper-container-tuhuy {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.box-tuhuy .swiper-container-tuhuy img {
  max-width: 100%;
  height: auto;
}

.box-tuhuy .swiper-button-prev-tuhuy {
  position: absolute;
  top: 39%;
  left: 0%;
  font-size: 30px;
  z-index: 2;
}

.box-tuhuy .swiper-button-next-tuhuy {
  position: absolute;
  top: 39%;
  right: 0%;
  font-size: 30px;
  z-index: 2;
}

.box-thinhhanh {
  border: 1px green solid;
}

.box-thinhhanh .swiper-container-thinhhanh {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.box-thinhhanh .swiper-container-thinhhanh img {
  max-width: 100%;
  height: auto;
}

.box-thinhhanh .swiper-button-prev-thinhhanh {
  position: absolute;
  top: 39%;
  left: 0%;
  font-size: 30px;
  z-index: 2;
}

.box-thinhhanh .swiper-button-next-thinhhanh {
  position: absolute;
  top: 39%;
  right: 0%;
  font-size: 30px;
  z-index: 2;
}

.box-tuongtu {
  border: 1px green solid;
}

.box-tuongtu .swiper-container-tuongtu {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.box-tuongtu .swiper-container-tuongtu img {
  max-width: 100%;
  height: auto;
}

.box-tuongtu .swiper-button-prev-tuongtu {
  position: absolute;
  top: 39%;
  left: 0%;
  font-size: 30px;
  z-index: 2;
}

.box-tuongtu .swiper-button-next-tuongtu {
  position: absolute;
  top: 39%;
  right: 0%;
  font-size: 30px;
  z-index: 2;
}
/*# sourceMappingURL=gioi-thieu.css.map */